@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import "_nullstyle";
body {
  font-family: 'PT Sans Narrow', sans-serif;
}
.header {
  background-color: #000000;
  &__container {
    display: flex;
    align-items: center;
    height: 72px;
  }

  &__menu {
  }

  &__actions {
  }
}
.container {
}
.menu {
  flex: 1 1 auto;
  font-size: 16px;
  text-transform: uppercase;
  &__body {
  }

  &__list {
    display: flex;
    li {
      margin: 0 20px;
    }
  }

  &__link {
    color: #fff;
  }
}
.actions-header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &__icon {
  }

  &__enter {
    @extend .menu__link;
    background: url('img/svg/login.svg') 0 0 no-repeat;
  }
}
.wrapper {
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.top {

		&__logo {
		}

		&__info {

			&_left {
			}

			&_center {
			}

			&_right {
			}
		}
}
.news-gallery {
}
.news {

		&__title {
		}

		&__text {

			&_1 {
			}

			&_2 {
			}
		}

		&__date {

			&_1 {
			}

			&_2 {
			}
		}

		&__btn {
		}
}
.block-title {
}
.gallery {

		&__title {
		}

		&__image {
		}

		&__btn {

			&_left {
			}

			&_right {
			}
		}
}
.info-order {
}
.info {

		&__title {
		}

		&__adress {
		}

		&__time {
		}

		&__btn {

			&_left {
			}

			&_right {
			}
		}
}
.order {

		&__title {
		}

		&__text {
		}

		&__date {
		}

		&__time {
		}

		&__name {
		}

		&__phone {
		}
}
.container-footer {

  &__adress {
  }

  &__social {
  }

  &__madein {
  }
}